salesforce/flows/Create_Opportunity_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <description>Autolaunched Flow to create an Opportunity with validation and with sharing behavior. Used by AI Agent Actions.</description>
    <label>Create Opportunity Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_Required_Inputs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    
    <!-- Input Variables -->
    <variables>
        <name>Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    
    <variables>
        <name>Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    
    <variables>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    
    <variables>
        <name>StageName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    
    <variables>
        <name>Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    
    <!-- Output Variables -->
    <variables>
        <name>Success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    
    <!-- Decision: Validate Required Inputs -->
    <decisions>
        <name>Validate_Required_Inputs</name>
        <label>Validate Required Inputs</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Set_Validation_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid</defaultConnectorLabel>
        <rules>
            <name>All_Required_Fields_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CloseDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_Record</targetReference>
            </connector>
            <label>All Required Fields Present</label>
        </rules>
    </decisions>
    
    <!-- Decision: Check Create Success -->
    <decisions>
        <name>Check_Create_Success</name>
        <label>Check Create Success</label>
        <locationX>308</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Success_Output</targetReference>
            </connector>
            <label>Record Created</label>
        </rules>
    </decisions>
    
    <!-- Assignment: Set Validation Error -->
    <assignments>
        <name>Set_Validation_Error</name>
        <label>Set Validation Error</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Required fields are missing: Name, AccountId, CloseDate, and StageName are required</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    
    <!-- Assignment: Set Success Output -->
    <assignments>
        <name>Set_Success_Output</name>
        <label>Set Success Output</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    
    <!-- Assignment: Set Create Error -->
    <assignments>
        <name>Set_Create_Error</name>
        <label>Set Create Error</label>
        <locationX>440</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed to create Opportunity: {!$Flow.FaultMessage}</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    
    <!-- Record Create: Create Opportunity -->
    <recordCreates>
        <name>Create_Opportunity_Record</name>
        <label>Create Opportunity Record</label>
        <locationX>308</locationX>
        <locationY>242</locationY>
        <assignRecordIdToReference>OpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>Check_Create_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Create_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    

    

</Flow>
